{% extends 'blog/base.html' %}

{% block content %}
<div style="text-align: center;">
    <h1 >register user</h1>
        <div style="width: 500px; display: inline-block; text-align: center";>
            <div>    
            <div style="text-align: center">
                <form method="POST" class="post-form">
                {% csrf_token %}
                이름<input type="text" default="name" name="name" id="name" required >
                이메일<input type="text" default="email" name="email" id="email" required >
                비밀번호<input type="text" default="password" name="pass" id="pass" required >
                <button type="submit" class="save btn btn-primary">등록</button>
            </form method="POST">
            </div>
        </div>
    </div>
</div>
{% endblock %}